<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compra Fallida - Tu Producto Increíble</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <nav>
      <ul class="navigation">
        <li class="img-logo"><img src="./img/logo.png" alt="Logo"></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="failed-section">
      <div class="failed-content">
        <h1>¡Compra Fallida!</h1>
        <p>Lo sentimos, parece que ha habido un problema con tu compra.</p>
        <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte. Estaremos encantados de ayudarte a resolver cualquier problema.</p>
        <p>Correo: contacto.inc23@gmail.com</p>
        <a href="/" class="cta-button">Volver a la Página Principal</a>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</body>
</html>

<style>

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
}
    /* Estilos específicos para la página de fallo */
.failed-section {
  text-align: center;
  padding: 60px;
}

.failed-content {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.failed-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.failed-content p {
  font-size: 18px;
  margin: 10px 0;
}

/* Estilos de botón */
.cta-button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

</style>